[flake8]
exclude = .git,__pycache__,migrations,venv
max-line-length = 120
# E302: очікується 2 порожніх рядки
# W291, W293: зайві пробіли
# W292: немає нового рядка в кінці файлу
# E261: пробіли перед коментарями
# F401: імпортовано, але не використано
# E402: імпорт не зверху файлу
# E131: відступи
ignore = E302,W291,W293,W292,E261,F401,E402,E131